.App {
  text-align: center;
}

label{
  font-size: 30px;
  align-items: center;
}

p{
  font-size: 30px;
  text-align: center;
}

#userInput{
  text-align: center;
  align-items: center;
}

#mainTitle{
  text-align: center;
  font-size: 60px;
  margin: 0%;
}

#titleContainer{
  background-color: gray;
  height:100%;
}
